language: cpp

compiler:
 - clang
 - gcc

before_install:
 - sudo cp /etc/apt/sources.list /etc/apt/sources.list.d/trusty.list
 - sudo sed -i 's/precise/trusty/g' /etc/apt/sources.list.d/trusty.list
 - sudo apt-get update -qq
 - sudo apt-get install -qq -y flexc++ bisonc++ llvm-dev g++ clang

script: make && make tests
