language: cpp
dist: xenial
sudo: required

matrix:
   include:
    - compiler: clang
      env: LLVM_VER="-3.8"
    - compiler: clang
      env: LLVM_VER="-4.0" PACKAGE=true
    - compiler: gcc
      env: LLVM_VER="-5.0" COVERAGE=true
    - compiler: clang
      env: LLVM_VER="-6.0"
#    - compiler: gcc
#      env: LLVM_VER="-7"
    - compiler: clang
      env: LLVM_VER="-8"

addons:
   apt:
      sources:
       - llvm-toolchain-xenial-8
      packages:
       - llvm-3.8-dev
       - llvm-4.0-dev
       - llvm-5.0-dev
       - llvm-6.0-dev
#       - llvm-7-dev
       - llvm-8-dev
       - flexc++
       - bisonc++
       - libboost-program-options-dev
       - libboost-filesystem-dev
       - python3
       - binutils
       - patchelf

before_install:
 - if [[ $LLVM_VER == "-3.8" ]] || [[ $LLVM_VER == "-4.0" ]]; then VER=${LLVM_VER:1} ; echo "UNITTEST_ARG = +$VER-5.0" > src/Configfile ; fi
 - if [[ $PACKAGE ]]; then echo -e "STATIC_BOOST=true" >> src/Configfile ; fi
 - if [[ $COVERAGE ]]; then sudo pip install -U cpp-coveralls ; fi

script: cd src && make frontend && make -j2 tests

after_success:
 - if [[ $COVERAGE ]]; then coveralls --gcov-options '\-lp' -t $COV_TOKEN -e scanner.cpp -e scanner.h -e scannerbase.h -e parser.cpp -e parser.h -e parser.ih -e parserbase.h; fi
 - if [[ $PACKAGE ]]; then cd ../scripts/ ; ./build-AppImage.sh ; ./build-deb.sh ; wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh ; bash upload.sh saphyr-x86_64.AppImage saphyr.deb ; fi

branches:
   except:
    - /^(?i:continuous)$/
