language: cpp
dist: trusty
sudo: required

matrix:
   include:
    - compiler: clang
      env: LLVM_VER="-3.8"
    - compiler: clang
      env: LLVM_VER="-4.0" APPIMAGE=true
    - compiler: gcc
      env: LLVM_VER="-5.0" COVERAGE=true
    - compiler: clang
      env: LLVM_VER="-6.0"
#    - compiler: gcc
#      env: LLVM_VER="-7"
    - compiler: clang
      env: LLVM_VER="-8"

before_install:
 - ./travisSetup.sh

script: cd src && make frontend && make -j2 tests

after_success:
 - if [[ $COVERAGE ]]; then coveralls --gcov-options '\-lp' -t $COV_TOKEN -e scanner.cpp -e scanner.h -e scannerbase.h -e parser.cpp -e parser.h -e parser.ih -e parserbase.h; fi
 - if [[ $APPIMAGE ]]; then cd ../scripts/ ; ./buildAppImage-filecopy.sh ; ./buildAppImage-create.sh ; wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh ; bash upload.sh saphyr-x86_64.AppImage ; fi

branches:
   except:
    - /^(?i:continuous)$/
